<nz-layout>

  <nz-header>
    <div nz-row style="align-items: center;">
      <div nz-col nzSpan="6">
        <app-drawer></app-drawer>
      </div>

      <div nz-col nzSpan="6" style="display: flex; align-items: center; justify-content: center; gap: 10px;">

      </div>

      <div nz-col nzSpan="6" style="display: flex; align-items: center; justify-content: center;">

      </div>
    </div>
  </nz-header>


  <nz-content>

      <!-- <div *ngIf="activeComponent$ | async as activeComponent">
        <app-boletos
          *ngIf="activeComponent === language.menu_option_module_name_Boletos"
        ></app-boletos>
      </div> -->

  </nz-content>
  <nz-footer>
    <!-- Customize footer content -->
    Footer
  </nz-footer>
</nz-layout>



