<button nz-button nzType="primary" (click)="open()">Menu</button>
    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      nzPlacement="right"
      nzTitle="Basic Drawer"
      (nzOnClose)="close()"
    >
      <ng-container *nzDrawerContent>

        @for (item of menuItems; track $index) {
          <div style="display: flex; flex-direction: column; margin: 10px auto;">
            <ng-container *appPermission="'browse_' + item.name" >

              <button (click)="toggleVisibility(item.name)" nz-button nzType="primary">{{item.name}}</button>

            </ng-container>


          </div>

        }

      </ng-container>
    </nz-drawer>
